/** Base settings **/
html{
    background-color: transparent !important
}
#page{
    background-color:#FFFFFF;
    margin: 10px auto;
}
.block .content,.path-course-view .weeks .content, .path-course-view .topics .content, .path-course-view .weeks .section, .path-course-view .topics .section {
    background: transparent;
}

/** CSS for the picker **/
#colourswitcher{
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    opacity:1;
    z-index:1000;
}
.access_tools { background-color: #fff; border: 12px solid #FF403F; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px;}
.access_tools #access_close, .access_tools #reset_access{ clear: right; float: right; margin-top: 10px; /*border-top: 1px solid #FACBB4; border-left: 1px solid #FACBB4;*/ padding: 0.5em; width: 11em; background-color: #FFA500; font-weight: bold;text-decoration:none}
#cstool {
    overflow: auto;
    padding-bottom: 1em;
}
#colourswitcher li, #txt_opt li {list-style:none;}
#colourswitcher li { float: left; }
#colourswitcher li a {
    background: none repeat scroll 0 0 gray;
    border: 1px solid #FFFFFF;
    float: left;
    margin: 0 1px 1px 0;
    padding: 0.5em;
    width: 10em;
    height: 3em;
}
#colourswitcher #acc-backs a {
    width: 3em;
    height: 3em;
}
#colourswitcher li a span { float: left; margin: 2px; padding: 0.25em;}
#colourswitcher li a:hover { border: 1px solid gray;}
#colourswitcher li a:hover, #colourswitcher li a:focus { text-decoration: none;}
#colourswitcher li a:focus span, #colourswitcher li a:active span { margin: 0px; border: 2px solid red;}
#colourswitcher ul, #colourswitcher h3 {clear:both;}
#colourswitcher #colour-default a { background-color: #FFF; color: #000; border-color: #CCCCCC;}
#colourswitcher #colour-grey a { background-color: #CCCCCC; color: #000;}
#colourswitcher #colour-cream a { background-color: #FAEEA9; color: #000;}
#colourswitcher #colour-blue a { background-color: #CBEAFC; color: #000;}
#colourswitcher #colour-yellow a { background-color: #FFFF00; color: #000;  border-color: #CCCCCC;}
#colourswitcher #colour-cyan a { background-color: #A0FFFA; color: #000;}
#colourswitcher #colour-magenta a { background-color: #FFC9E8; color: #000;}
#colourswitcher #colour-white a { background-color: #FFF; color: #000;  border-color: #CCCCCC;}
#colourswitcher #colour-black a { background-color: #000; color: #FFF;}
#colourswitcher #colour-blacktwo a { background-color: #000; color: #FFFF00;}
#colourswitcher #colour-bluetwo a { background-color: #3B468B; color: #FFF;}
#colourswitcher #colour-bluethree a { background-color: #3B468B; color: #FFFF00;}
#colourswitcher li a, #txt_opt li a, #txt_opt .reset { 
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
#txt_opt {
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
#txt_opt li {
    float: left;
    list-style: none outside none;
}
#txt_opt li a {
    background-color: #000000;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    float: left;
    margin-left: 1px;
    padding: 0.5em;
    text-decoration: none;
    height: auto;
    width:auto;
}
/** Fonts
 *     
 * These values are approximations of the em sizes that are actually used
 * They are set so the buttons remain constant after the style change is made
 * 
 **/
#font-default{
font-size:13.6px;
}
#font-small{
font-size:16px;
}
#font-medium{
font-size:17.6px;
}
#font-large{
font-size:19.2px;
}

/** Colours 
 *     
 * Only background and text are styled below
 * You might want to also style links, blocks, headers etc...
 * 
 * **/
.cs-colour-white .block .header {
background:none repeat scroll 0 0 #FFF;
color:#000;
}
.cs-colour-grey #page,.cs-colour-grey #page-header #accessbutton,.cs-colour-grey #page-header .emailbutton,.cs-colour-grey #page-header .logininfo,.cs-colour-grey #page-footer,.cs-colour-grey .navbar {
background-color:#CCC;
color:#000;
}
.cs-colour-cream #page,.cs-colour-cream #page-header #accessbutton,.cs-colour-cream #page-header .emailbutton,.cs-colour-cream #page-header .logininfo,.cs-colour-cream #page-footer,.cs-colour-cream .navbar{
background-color:#FAEEA9;
color:#000;
}
.cs-colour-blue #page,.cs-colour-blue #page-header #accessbutton,.cs-colour-blue #page-header .emailbutton,.cs-colour-blue #page-header .logininfo,.cs-colour-blue #page-footer,.cs-colour-blue .navbar{
background-color:#CBEAFC;
color:#000;
}
.cs-colour-yellow #page,.cs-colour-yellow #page-header #accessbutton,.cs-colour-yellow #page-header .emailbutton,.cs-colour-yellow #page-header .logininfo,.cs-colour-yellow #page-footer,.cs-colour-yellow .navbar{
background-color:#FF0;
color:#000;
}
.cs-colour-cyan #page,.cs-colour-cyan #page-header #accessbutton,.cs-colour-cyan #page-header .emailbutton,.cs-colour-cyan #page-header .logininfo,.cs-colour-cyan #page-footer,.cs-colour-cyan .navbar{
background-color:#A0FFFA;
color:#000;
}
.cs-colour-magenta #page,.cs-colour-magenta #page-header #accessbutton,.cs-colour-magenta #page-header .emailbutton,.cs-colour-magenta #page-header .logininfo,.cs-colour-magenta #page-footer,.cs-colour-magenta .navbar{
background-color:#FFC9E8;
color:#000;
}
.cs-colour-black #page,.cs-colour-blacktwo #page,.cs-colour-black #page-header #accessbutton,.cs-colour-blacktwo #page-header #accessbutton,.cs-colour-black #page-header .emailbutton,.cs-colour-blacktwo #page-header .emailbutton,.cs-colour-black #page-header .logininfo,.cs-colour-blacktwo #page-header .logininfo,.cs-colour-black #page-footer,.cs-colour-blacktwo #page-footer,.cs-colour-black .navbar,.cs-colour-blacktwo .navbar {
background-color:#000;
color:#FFF;
}
.cs-colour-bluetwo #page,.cs-colour-bluethree #page,.cs-colour-bluetwo #page-header #accessbutton,.cs-colour-bluethree #page-header #accessbutton,.cs-colour-bluetwo #page-header .emailbutton,.cs-colour-bluethree #page-header .emailbutton,.cs-colour-bluetwo #page-header .logininfo,.cs-colour-bluethree #page-header .logininfo,.cs-colour-bluetwo #page-footer,.cs-colour-bluethree #page-footer,.cs-colour-bluetwo .navbar,.cs-colour-bluethree .navbar{
background-color:#3B468B;
color:#FFF;
}
/** Backgrounds 
 *     
 * Images are located in the pix/wallpapers folder in the theme
 * 
 * **/
.cs-back-default, #back-default a{
    background-color: #FDA70F !important;
}
.cs-back-alfa, #back-alfa a{
	background:url([[pix:theme|wallpapers/hearts]]) repeat fixed 115px 95px #ED7BD3 !important;
}
.cs-back-bravo, #back-bravo a{
	background:url([[pix:theme|wallpapers/stars]]) repeat fixed 73px 35px #3377F5 !important;
}
.cs-back-charlie, #back-charlie a{
	background:url([[pix:theme|wallpapers/clouds]]) repeat fixed 73px 35px #B0E0E8 !important;
}
.cs-back-delta, #back-delta a{
	background:url([[pix:theme|wallpapers/cupcake]]) repeat fixed 73px 35px #94CBCD !important;
}
.cs-back-echo, #back-echo a{
	background:url([[pix:theme|wallpapers/metal]]) repeat fixed 73px 35px #AEB6BB !important;
}
.cs-back-foxtrot, #back-foxtrot a{
	background:url([[pix:theme|wallpapers/grass]]) repeat fixed 73px 35px #4B9051 !important;
}
.cs-back-golf, #back-golf a{
	background:url([[pix:theme|wallpapers/punchedholes]]) repeat fixed 73px 35px #2E2E2E !important;
}
/** Fonts 
 *     
 * Use em sizes here
 * 
 * **/
.cs-font-default {

}
.cs-font-small {
font-size: 1em;
}
.cs-font-medium{
font-size: 1.1em;
}
.cs-font-large{
font-size: 1.2em;
}

/** Width 
 *     
 * Make sure there is a default option too!
 * 
 * **/
.cs-width-full #page{
   width: 90%;
}
.cs-width-fixed #page, .cs-width-default #page{
   max-width: 960px;
}

/* 
 * Wallpaper overrides user preference on a specific date
 */

/*
.Dec252013{
    background:url([[pix:theme|wallpapers/xmas]]) repeat fixed center 0px #FFFFFF !important;
}
*/


